{%  extends 'accounts/main.html' %}
{% block content %}
{%  include 'accounts/status.html' %}

{% for order in orders %}
<div class="row">

<div class="col">
		<div class="col-md">
			<div class="card text-center bg-dark text-danger  mb-2" id="orders-note">
			  	<div class="card-header">
			  	<figure class="text-center text-danger">
  <blockquote class="blockquote">
    <p class="text-center text-dark bg-warning">{{order.bus}}</p>
  </blockquote>
  <figcaption class="blockquote-footer">
 <cite title="Source Title" class="text-white">{{order.note}}</cite>
  </figcaption>
</figure>
			  	</div>
			</div>
		</div>
	</div>
</div>

{% endfor %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
		<hr>
		<table class="table table-bordered border-primary shadow-lg p-3 mb-5 bg-body rounded table-sm  table-hover">		
	
	<thead class="bg-warning shadow-lg p-3 mb-5 bg-body rounded">
	  
    <tr>
      <th class="text-center" scope="col"><small><h6>Bus</small></th>
      <th class="text-center" scope="col"><small><h6>Program</small></th>
      <th class="text-center" scope="col"><small><h6>Start</small></th>
	  <th class="text-center" scope="col"><small><h6>Slut</small></th>
      <th class="text-center" scope="col"><small><h6>Status</small></th>
	</tr>
</thead>




			
{% for order in orders %}
	  {% if order.status == "Klar" %}

	<tr class="table shadow-lg p-3 mb-5 table-bordered table-success">
        <td class="text-center"><small>{{ order.bus }}</small></td>
        <td class="text-center"><small>{{ customer.category }}</small></td>
		<td class="text-center"><small>{{ order.start_date|date:'H:i' }}</small></td>
		<td class="text-center"><small>{{ order.end_date|date:'H:i' }}</small></td>		
		<td class="text-center"><center><a href="{% url 'cross_off' order.id %}"><small><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
		<circle cx="8" cy="8" r="8"/></a></center></svg></small></td>
	</tr>

	{% else %}

	<tr class="table shadow-lg p-3 mb-5 table-bordered table-danger">
        <td class="text-center"><small>{{ order.bus }}</small></td>
        <td class="text-center"><small>{{ order.product }}</small></td>
		<td class="text-center"><small>{{ order.start_date|date:'H:i' }}</small></td>
		<td class="text-center"><small>{{ order.end_date|date:'H:i' }}</small></td>	
		<td class="text-center"><center><a href="{% url 'uncross' order.id %}"><small><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
		<circle cx="8" cy="8" r="8"/></a></center></svg></small></td>
	</tr>
				{% endif %}
				{% endfor %}
				   </table>
	</div>
	</div>
</div>

{% endblock content %}