{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/my_style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">









<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
<div class="container-fluid">
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-dark" role="alert">
			<button class="close" data-dismiss="alert">
	            <small><sup>x</sup></small>
	        </button>
			{{ message }}
			{% endfor%}
		</div>
		
{% endif %}
		
    {% if all_items %}
    
		<h3>Dagens busvask oversigt.</h3>
		<hr class="my-4">
		<p class="lead">Vaskelisten sendes af Larsenbus kontoret. Kontakt venligst Larsenbus vedr. ændringer og m.m.</p>
		<div id="changelist-filter">
         
		<table class="table table-responsive-xl table-ligh">
		
				{% for things in all_items %}
					{% if things.completed %}
					
						<tr class="table-success">
                            <td>{{ things.start_date|date:'d/m/Y H:i' }}
                                 {{ things.end_date|date:'d/m/Y H:i' }}<p>Færdig behandlet!</p></td>		
                            	
                            <td>Bussen er klar!  <i class="fa fa-check" aria-hidden="true"></i>
							<td class="striker"><i class="fas fa-bus"></i>{{ things.bus }}</td>
							<td class="striker">{{ things.Program }}</a></td>
							<td class="striker">{{ things.Kommentar }}</a></td>
						</tr>
					{% else %}
						<tr class="table table-secondary">	
                            <td><p>Færdig senest kl:!</p>{{ things.end_date|date:'d/m/Y H:i' }}</td>
                            			
							<td><b>{{ things.bus }}</b></a></td>
							<td><b>{{ things.Program }}</b></a></td>
							<td>{{ things.Kommentar }}</a></td>
                            <td>Venter..!  <i class="fa fa-clock-o"></i></td>

							<!-- <td><center><a href="{% url 'delete' things.id %}"><div class="btn btn-outline-danger">Slet!</a></center></td> -->
						</tr>
						
					{% endif %}
				{% endfor %}
				
            </table>
		</div>

	{% endif %}
{% endblock %}